<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,600italic,300italic,400italic,300,700italic,800italic,800"
    rel="stylesheet" type="text/css" />
  <link href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" media="all"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="CSS/quiz.css">
  <link rel="stylesheet" href="CSS/main.css">
  <link rel="stylesheet" href="CSS/index.css">
  <link rel="stylesheet" href="CSS/util.css">
  <link rel="stylesheet" href="CSS/questioncard.css">
  <link rel="stylesheet" href="CSS/dev.css">
  <link rel="stylesheet" href="CSS/leader.css">
  <!-- <script src="JS/qc.js"></script> -->
  <title>Cryptoquiz</title>


  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css">
  <script src="https://kit.fontawesome.com/2c7fc28a2f.js"></script>

</head>

<body style="background-attachment: fixed;    background: black;">
  <video playsinline="" autoplay="" muted="" loop="" id="bgvid" style="object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
    opacity: .5;
    left: 0;">
    <source src="Assets/imgs/bgvideo.mp4" type="video/mp4">
  </video>

  <div class="navigation-bar">
    <nav class="navbar navbar-light justify-content-between">
      <a class="navbar-brand">Hello <%=name%></a>
      <span style="visibility:hidden" id="identity">
        <%=identity %>
      </span>
      <form action="/logout" method="post">
        <input hidden type="text" name="_csrf" value="<%=csrfToken%>">
        <a href="/cryptoboard" class="btn btn-primary button lbutton">Cryptoboard</a>
        <a href="/quiz" class="btn btn-primary button lbutton">Quiz</a>
        <button type="submit" class="btn btn-primary button lbutton">Logout</a>
          <!-- <a href="#" class="btn btn-success">Register</a> -->
      </form>
    </nav>
  </div>
  <h1 class="h1">CRYPTOBOARD</h1>
  <div class="leader">
    <table>
      <tr>
        <th>
          Pos
        </th>
        <th>
          Player Name
        </th>
        <th>
          Time Submitted
        </th>
      </tr>
      <% let arr=[] %>
        <% for(let i=0;i < answer.length; i++) { %>
          <% arr.push({name:answer[i].name , roll:answer[i].email, time: answer[i].timestamp, points: answer[i].points})
            %>
            <% } %>
              <div class="hack" style="background-color: white;">
                <% for(let i=0;i < arr.length; i++) { %>
                  <%= arr[i].name %>,<%= arr[i].roll %>,<%= arr[i].points %>,<%= arr[i].timestamp %>,
                          <% } %>
              </div>
    </table>

  </div>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script>
    let arr = document.querySelector('.hack').firstChild.nodeValue.trim().split(',')
    console.log(arr)
    arr = arr.map((element) => {
      return element.trim();
    })
    let finalArray = [];
    for(let i=0 ; i < arr.length; i++){
      newArray = arr[i].split(' ');
      finalArray.push({name:newArray[0],roll: newArray[1],point: newArray[2], timestamp: newArray[3]})
    }
    console.log(finalArray);
  </script>
  <!-- 
      <script src="js/leaderboard.js"></script> -->

</body>

</html>